/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.mixtape-progress-bar-container {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.mixtape-progress-bar {
	width: 100% !important;
	max-width: 100% !important;
	flex: 1 1 auto;
}

.mixtape-now-playing {
	width: 100% !important;
	max-width: 100% !important;
	flex: 1 1 auto;
	text-align: center;
	padding-bottom: 20px;
}

.mixtape-controls-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.mixtape-controls {
	display: flex;
	width: 30%;
	justify-content: space-evenly;
	align-items: center;
}

.mixtape-audio-links {
	width: 100%;
}
